.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Bb]in/
[Rr]elease/
!Debug/
*.pdb
*.ipch
*.idb
*.iobj
.vscode/
*.log
*.tmp
*.cache
*.ilk
*.ncb
*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.aps
*.pch
*.res
*.psess
*.vsp
*.vspx
*.dll
*.lib
*.exp
*.nupkg
packages/